fastapi
uvicorn
sentence-transformers
numpy
scikit-learn
torch
torchaudio

pytesseract
openai-whisper
moviepy
SpeechRecognition
requests
python-docx
PyPDF2
docx2txt
beautifulsoup4
pillow
python-multipart

langchain
huggingface-hub
transformers
torch
langchain_community
langchain-community
langchain-huggingface